# Created by https://www.toptal.com/developers/gitignore/api/vite,react
# Edit at https://www.toptal.com/developers/gitignore?templates=vite,react

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
.env

node_modules
bower_components

*.sublime*

psd
thumb
sketch

#!! ERROR: vite is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/vite,react
