:root {
  --primary-bg: #2c3e50;    /* Темно-синий из ТЗ */
  --secondary-bg: #ecf0f1;
  --accent-color: #27ae60;   /* Зеленый для кнопок "Записать/Оплатить" */
  --error-color: #e74c3c;
  --text-main: #2c3e50;
  --sidebar-width: 250px;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--secondary-bg);
  color: var(--text-main);
}

* {
  box-sizing: border-box;
}